<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contact</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Contact.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full bg-[#222222] text-white relative">


<div id="preloader" class="fixed inset-0 flex gap-4 items-center justify-center bg-[#222222] z-50 min-h-screen">
  <div class="w-4 h-4 rounded-full bg-red-500 animate-bounce"></div>
  <div class="w-4 h-4 rounded-full bg-red-500 animate-bounce [animation-delay:-.3s]"></div>
  <div class="w-4 h-4 rounded-full bg-red-500 animate-bounce [animation-delay:-.5s]"></div>
</div>



 
        <main role="main" class="pb-3 flex flex-col items-center justify-center w-full relative">
            @RenderBody()
        </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
