@model Contact.Models.ContactItem

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-2xl font-semibold mt-10 hidden lg:block">Create Contact</h1>

<a id="back" asp-action="Index" class="inline-block absolute left-10 top-2 lg:top-4 invert grayscale mt-6 ml-6 w-10"> <img src="~/images/340-removebg-preview.png" alt="Back"></a>

<form id="createForm" action="Create" enctype="multipart/form-data" method="post" class="flex flex-col items-center justify-center mt-6 space-y-6 w-full text-black">
     <input type="hidden" asp-for="Id">
      @Html.AntiForgeryToken()

    <div class="flex flex-col items-center justify-center  space-y-2 transition-all duration-400 ease-in" enctype="multipart/form-data">
        <img id="uploadImage" src="~/images/uploadImage.png" alt="Upload Your Image here" asp-for="ImagePath" class="cursor-pointer rounded-full w-44 h-44 object-cover object-center mt- lg:mt-0">
        <label for="uploadImageButton" class="px-16 rounded-xl py-2 text-white text-lg btn btn-primary cursor-pointer max-[648px]:w-1/2 flex items-center justify-center">Upload Image</label>
        <input asp-for="ImageFile" type="file" accept="image/jpeg, image/png, image/jpg, image/webp" id="uploadImageButton" class="hidden">
        <span asp-validation-for="ImagePath" class="text-red-500"></span>
    </div>

    <div class="flex flex-col items-center justify-center  w-full space-y-2 transition-all duration-400 ease-in">
        <input type="text" asp-for="FirstName" placeholder="First Name" class="border-[#666666] border-2 rounded-md px-4 py-2 w-[90%] sm:w-1/2  lg:w-1/4">
        <span asp-validation-for="FirstName" class="text-red-500"></span>
    </div>

    <div class="flex flex-col items-center justify-center  w-full space-y-2 transition-all duration-400 ease-in">
        <input type="text" asp-for="MiddleName" placeholder="Middle Name" class="border-[#666666] border-2 rounded-md px-4 py-2 w-[90%] sm:w-1/2  lg:w-1/4">
        <span asp-validation-for="MiddleName" class="text-red-500"></span>
    </div>

    <div class="flex flex-col items-center justify-center  w-full space-y-2 transition-all duration-400 ease-in">
        <input type="text" asp-for="LastName" placeholder="Last Name" class="border-[#666666] border-2 rounded-md px-4 py-2  w-[90%] sm:w-1/2  lg:w-1/4">
        <span asp-validation-for="LastName" class="text-red-500"></span>
    </div>

    <div class="flex flex-col items-center justify-center  w-full space-y-2 transition-all duration-400 ease-in">
        <input type="text" asp-for="PhoneNumber" placeholder="Phone" class="border-2 border-[#666666] rounded-md px-4 py-2  w-[90%] sm:w-1/2  lg:w-1/4">
        <span asp-validation-for="PhoneNumber" class="text-red-500"></span>
    </div>




    <div id="email" class="transition-all duration-400 ease-in flex flex-col items-center justify-center w-full space-y-2 hidden">

        <div class="relative w-[90%] sm:w-1/2  lg:w-1/4">
            <input type="email" asp-for="Email" placeholder="Email" class="border-2 border-[#666666] rounded-md px-4 py-2 w-full">
            <img id="minEmail" src="~/images/minimize.png" alt="Minimize" class="cursor-pointer w-6 invert grayscale absolute -right-10 top-1/2 transform -translate-y-1/2">
        </div>

        <span asp-validation-for="Email" class="text-red-500"></span>
    </div>



    <div id="nickname" class="transition-all duration-400 ease-in flex flex-col items-center justify-center w-full space-y-2 hidden">

        <div class="relative  w-[90%] sm:w-1/2  lg:w-1/4">
            <input type="text" asp-for="Nickname" placeholder="Enter nickname" class="border-2 border-[#666666] rounded-md px-4 py-2 w-full">
            <img id="minnickname" src="~/images/minimize.png" alt="Minimize" class="cursor-pointer w-6 invert grayscale absolute -right-10 top-1/2 transform -translate-y-1/2">
        </div>

        <span asp-validation-for="Nickname" class="text-red-500"></span>
    </div>


    <div id="birthDay" class="transition-all duration-400 ease-in flex flex-col items-center justify-center  w-full space-y-2 hidden">
        <div class="relative  w-[90%] sm:w-1/2  lg:w-1/4">
            <input type="date" asp-for="BirthDay" placeholder="Email" class="border-2 border-[#666666] rounded-md px-4 py-2 w-full">
            <img id="minbirthDay" src="~/images/minimize.png" alt="Minimize" class="cursor-pointer w-6 invert grayscale absolute -right-10 top-1/2 transform -translate-y-1/2">
        </div>
        <span asp-validation-for="BirthDay" class="text-red-500"></span>
    </div>

    <div id="address" class="transition-all duration-400 ease-in flex flex-col items-center justify-center  w-full space-y-2 hidden">
        <div class="relative  w-[90%] sm:w-1/2  lg:w-1/4">
            <textarea rows="6" asp-for="Address" placeholder="Enter Your Address" class="border-2 border-[#666666] rounded-md px-4 py-2 w-full"></textarea>
            <img id="minaddress" src="~/images/minimize.png" alt="Minimize" class="cursor-pointer w-6 invert grayscale absolute -right-10 top-1/2 transform -translate-y-1/2">
        </div>
        <span asp-validation-for="Address" class="text-red-500"></span>
    </div>

    <div id="notes" class="transition-all duration-400 ease-in flex flex-col items-center justify-center  w-full space-y-2 hidden ">
        <div class="relative  w-[90%] sm:w-1/2  lg:w-1/4">
            <textarea rows="4" asp-for="Notes" placeholder="Notes" class="border-2 border-[#666666] rounded-md px-4 py-2 w-full"></textarea>
            <img id="minnotes" src="~/images/minimize.png" alt="Minimize" class="cursor-pointer w-6 invert grayscale absolute -right-10 top-1/2 transform -translate-y-1/2">
        </div>
        <span asp-validation-for="Notes" class="text-red-500"></span>
    </div>



    <div id="emailButton" class="transition-all duration-400 ease-in transition-all duration-400 ease-in text-white flex items-center justify-center space-x-6 text-lg bg-[#325FD7] rounded-xl w-[90%] sm:w-1/2  lg:w-1/4 py-3 cursor-pointer">
        <img src="~/images/email.png" alt="Email" class="w-8 invert grayscale">
        <span>Add email</span>
    </div>

    <div id="birthDayButton" class="transition-all duration-400 ease-in text-white flex items-center justify-center space-x-6 text-lg bg-[#325FD7] rounded-xl  w-[90%] sm:w-1/2  lg:w-1/4 py-3 cursor-pointer">
        <img src="~/images/birthday.png" alt="Email" class="w-8 invert grayscale">
        <span>Add Birthday</span>
    </div>


    <div id="addressButton" class="transition-all duration-400 ease-in text-white flex items-center justify-center space-x-6 text-lg bg-[#325FD7] rounded-xl  w-[90%] sm:w-1/2  lg:w-1/4 py-3 cursor-pointer">
        <img src="~/images/address.png" alt="Email" class="w-6 invert grayscale">
        <span>Add Address</span>
    </div>

    <div id="nicknameButton" class="transition-all duration-400 ease-in transition-all duration-400 ease-in text-white flex items-center justify-center space-x-6 text-lg bg-[#325FD7] rounded-xl  w-[90%] sm:w-1/2  lg:w-1/4 py-3 cursor-pointer">
        <img src="~/images/nickname.png" alt="Nickname" class="w-8 invert grayscale">
        <span>Add Nickname</span>
    </div>

    <div id="notesButton" class="transition-all duration-400 ease-in text-white flex items-center justify-center space-x-6 text-lg bg-[#325FD7] rounded-xl  w-[90%] sm:w-1/2  lg:w-1/4 py-3 cursor-pointer">
        <img src="~/images/notes.png" alt="Email" class="w-8 invert grayscale">
        <span>Add Notes</span>
    </div>


    <button type="submit" class="lg:absolute top-4 right-10  w-[90%] sm:w-1/2  lg:w-[8%] btn btn-primary px-10 rounded-xl py-2 text-white text-lg">Save</button>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/create.js"></script>
}
